:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%); 
    --blue: hsl(212, 86%, 64%);
    --dark: hsl(234, 12%, 34%); 
    --grayish: hsl(229, 6%, 66%);
    --light: hsl(0, 0%, 98%);
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
    background-color: var(--light);
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.container{
    width:1110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    background-color: var(--light);
}

.title{
    margin-left: auto;
    margin-right: auto;
    width: 525px;
    text-align: center;
}

.heading{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.title p{
    color:var(--grayish);
}
h1{
    font-weight: 200;
    font-size: 35px;
    color: var(--dark);
}
h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}
h3{
    color:var(--dark);
    font-weight: 600;
    font-size: 20px;
}
.box{
    margin-top: 70px;
    display: flex;
}
.box-grid{
display: flex;
flex-direction: column;
padding:0px 15px 15px 15px;
justify-content: center;
}
.left,
.team,
.karma,
.right{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    background-color: white;
    padding:30px 35px 35px 35px;
box-shadow: -2px 11px 10px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: -2px 11px 10px rgba(0, 0, 0, 0.1);
-moz-box-shadow: -2px 11px 10px rgba(0, 0, 0, 0.1);
}
.img{
    width:70px;
    height: 65px;
    margin-left:210px;
    margin-top: 30px;
}
.left{
    border-top: 5px solid var(--cyan);
}
.left p,
.team p,
.karma p,
.right p{
    color:var(--grayish);
    margin-top: 10px;
    font-size: 13px;
}
.team{
    border-top: 5px solid var(--red);
}

.karma{
    margin-top: 30px;
    border-top: 5px solid var(--orange);
}

.right{
    border-top: 5px solid var(--blue);
}
@media (max-width:375px){
    body{
        width:375px;
    }
    .container{
        width:310px;
        margin-left: auto;
        margin-right: auto;
    }
    .title{
        width:310px;
    }
    h1,h2{
        font-size: 24px;
    }
    h2{
        margin-bottom: 15px;
    }
    .box{
        display: flex;
        flex-direction: column;
        width:310px;
        margin-left: -15px;
    }
    .left,
    .team,
    .karma,
    .right {
        width:310px;
        height: 225px;
        padding:30px;
    }
    .team{
        margin-top: 10px;
    }
    .karma{
        margin-top: 25px;
    }
.right{
    margin-top: 10px;
}
    .img{
        width:60px;
        height: 60px;
        margin-left:190px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}